img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding-top: 96px;
  width: 100%;
  background: #E3EBEF;
  position: relative;
  cursor: default;
}

.ruban {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  width: 200px;
  min-height: 100%;
  background: repeating-linear-gradient(60deg, transparent 30px, #aacbdcd5 10px, #dbeaf1a1 90px),
    repeating-linear-gradient(120deg, transparent 30px, #aacbdcd5 10px, #dbeaf1a1 90px),
    repeating-linear-gradient(180deg, transparent 30px, #aacbdcd5 10px, #dbeaf1a1 90px);
  z-index: -1;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-inline: 32px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
  background-image: linear-gradient(to bottom, #E3EBEF, #e3ebef, #e3ebefc9, #e3ebefaf, #e3ebef00, transparent);
}

.imgyanis {
  width: 100px;
  height: 80px;
  background-image: url(/images/yanis.jpg);
  background-size: 200px;
  background-position: center bottom -140px;
  border-radius: 50px;
}

.flex-header-button {
  align-items: center;
}

.b {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.nom {
  color: #000000;
  font-family: Arial black;
  font-weight: 600;
  font-size: 50px;
}

span {
  color: #4C6C76;
  font-weight: 600;
}

.header-button {
  display: inline-block;
  border-radius: 10px;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  min-width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-weight: 600;
  font-family: monospace;
  outline: none;
  box-shadow: none;
  border: none;
}

.header-button .span-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #ffffff;
}

.header-button .span-button:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.header-button:hover .span-button {
  padding-right: 15px;
}

.header-button:hover .span-button:after {
  opacity: 1;
  right: 0;
}

.menu-icon {
  display: none;
  cursor: pointer;
  width: 50px;
}

@media screen and (max-width: 930px) {
  nav {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow: hidden;
  width: 0;
  transition: width 0.3s ease-in-out;
  height: 100vh;
}

.show {
  height: 100vh;
  width: 160px;
  transition: width 0.3s ease-in-out;
}

.show {
  display: block;
}

/* FOOTER */

footer {
  height: 180px;
  background-color: #4C6C76;
  padding: 16px;
}

.footerelement {
  font-size: 15px;
  color: #e1e1e1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  margin-inline: 8px;
}

.yo {
  font-size: 30px;
  font-weight: 700;
}

.footerelementg {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-block: 8px;
}

.footericon {
  width: 40px;
}

.flexfooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.bottom {
  justify-content: center;
  gap: 32px;
}

.flexfooter>div:last-child {
  justify-self: end;
}

.g {
  font-size: 20px;
  margin-block: 4px;
  transition: 0.2s ease-out;
}

.g:hover {
  color: #AACBDC;
}

.m {
  transition: 0.2s ease-out;
}

.m:hover {
  color: #AACBDC;
}

.no {
  cursor: default;
}

.mid {
justify-content: center;
}