.blanc {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  margin-bottom: 16px;
  text-align: center;
  margin-inline: 16px;
}

form {
  position: relative;
  margin: 0 auto;
  width: 340px;
  border: 4px solid #AACBDC;
  border-radius: 20px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #4C6C76;
  cursor: not-allowed;
}

h1 {
  color: #ffffff;
  font-family: arial black;
  text-align: center;
  font-size: 40px;
  margin-bottom: 16px;
}

h2 {
  color: #ffffff;
  font-family: monospace;
  margin-bottom: 8px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.radio-label {
  width: 200px;
  display: flex;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  align-items: center;
  padding: 0.5em;
  margin-bottom: 8px;
  background-color: #ffffff18;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: background-color 0.2s, border-color 0.2s;
}

.radio-label:hover {
  background-color: #e6e6e6;
  color: #0E0017;
}

.radio-input {
  position: absolute;
  opacity: 0;
}

.radio-input:checked+.radio-label {
  background-color: #ffffff;
  border-color: #AACBDC;
  outline-offset: 3px;
  color: #0E0017;
}

.radio-input:focus+.radio-label {
  outline: 2px solid #AACBDC;
}

.radio-inner-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid #888;
  border-radius: 50%;
  margin-right: 0.5em;
  transition: border-color 0.2s;
  position: relative;
}

.radio-label:hover .radio-inner-circle {
  border-color: #555;
}

.radio-input:checked+.radio-label .radio-inner-circle {
  border-color: #0E0017;
}

.radio-input:checked+.radio-label .radio-inner-circle::after {
  content: '';
  display: block;
  width: 0.5em;
  height: 0.5em;
  background-color: #4C6C76;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input {
  border-radius: 10px;
  outline: 2px solid #AACBDC;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px;
  transition: 0.25s;
  margin-block: 16px;
  position: relative;
  width: 300px;
}

.input::placeholder {
  position: absolute;
  top: 10px;
  left: 10px;
}

.input:focus {
  outline-offset: 5px;
  background-color: #fff
}

.envoyer {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: #ffffff;
  border: 2px solid #AACBDC;
  border-radius: 10px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  width: 300px;
  margin-block: 16px;
}

.envoyer::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 300px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #ffffff;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.envoyer:hover::before {
  scale: 3;
}

.envoyer:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.envoyer:active {
  scale: 1;
}

/* footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
} */

.ruban {
  position: fixed;
  bottom: 0;
  top: 0;
}

.wip {
  position: absolute;
  width: 150%;
  left: -22%;
  top: 8%;
  opacity: 0.9;
  padding-bottom: 200px;
}