h1 {
    position: relative;
    font-size: 50px;
    color: #000000;
    font-family: arial black;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
    z-index: 1;
}

.container {
    position: relative;
}

.cercle {
    position: absolute;
    min-width: 100px;
    min-height: 100px;
    width: 5vw;
    height: 5vw;
    background-color: #AACBDC;
    border-radius: 50%;
    animation: bougerCercle 2s ease-in-out infinite alternate;
}

.ca {
    bottom: 0;
    left: 55%;
    border-top-left-radius: 20px;
    animation: bougerCercle 2.3s ease-in-out infinite alternate;
}

.cb {
    top: 0;
    right: 55%;
    border-bottom-right-radius: 20px;
}

@keyframes bougerCercle {
    from {
        transform: translateX(-5px) translateY(5px);
    }

    to {
        transform: translateX(5px) translateY(-5px);
    }
}

.gridvid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
    margin-bottom: 64px;
    column-gap: 8px;
    margin-inline: 16px;
}

@media (max-width: 200px) {
    .gridvid {
        grid-template-columns: 1fr;
    }
}

.vid {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-size: 100%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    filter: brightness(0.8);
    border: 2px solid #AACBDC
}

.titrevid {
    color: #ffffff;
    font-family: monospace;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #AACBDC;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 8px;
    border-radius: 10px;
    background-color: #4C6C76;
    transition: 0.2s ease-in-out;
}

.vid:hover .titrevid {
    background-color: #5f8a97
}

.vid:hover {
    filter: brightness(1.0);
}