
a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.ml {
  margin-inline: 16px;
}

img {
  width: 100%;
}

h1 {
  font-family: arial black;
}

.ci {
  margin-left: 16px;
}

.flexapropos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(365.5px, 1fr));
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 32px;
  margin-inline: 5%;
  gap: 64px;
}

@media screen and (max-width: 600px) {
  .flexapropos {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container {
  position: relative;
}

.imgimgpc {
  border-radius: 20px;
  margin-top: 8px;
}

.imgpc {
  position: relative;
  z-index: 1;
}

.cercle {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  width: 12vw;
  height: 12vw;
  background-color: #4C6C76;
  border-radius: 50%;
  animation: bougerCercle 2s ease-in-out infinite alternate;
}

.ca {
  bottom: -40px;
  left: -40px;
  border-top-left-radius: 20px;
  animation: bougerCercle 1.8s ease-in-out infinite alternate;
}

.cb {
  top: -40px;
  right: -40px;
  border-bottom-right-radius: 20px;
}

@keyframes bougerCercle {
  from {
    transform: translateX(-5px) translateY(5px);
  }
  to {
    transform: translateX(5px) translateY(-5px);
  }
}

.apropos {
  color: #000000;
  margin-bottom: 8px;
  font-family: arial black;
  font-size: 40px;
  font-weight: 600;
}

.txtapropos {
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 20px;
  text-align: justify;
}

/* BOUTON CV */

.button {
  padding: 0.2rem 3rem;
  border: none;
  outline: none;
  font-size: 1.3rem;
  border-radius: 20px;
  font-weight: 600;
  background-color: #4C6C76;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  margin-top: 16px;
}

.button .textbutton {
  position: absolute;
  left: 20%;
  top: -10px;
  transition: 0.4s ease-in-out;
  color: rgb(255, 255, 255);
  font-weight: 100;
}

.svg {
  transform: translateY(-20px) rotate(30deg);
  opacity: 0;
  width: 2rem;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: rgb(50, 50, 50);
}

.button:hover .svg {
  display: inline-block;
  transform: translateY(0px) rotate(0deg);
  opacity: 1;
}

.button:hover .textbutton {
  opacity: 0;
}

.button:active {
  scale: 0.97;
}

/* CARTES COMPETENCE */

.titrecomp {
  font-size: 40px;
  color: #000000;
  font-family: Arial Black;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}

.nomcomp {
  font-family: monospace;
  font-size: 20px;
  color: white;
}

.barre {
  height: 8px;
  width: auto;
  background-color: rgb(53, 53, 53);
  border-radius: 10px;
  margin-block: 8px;
}

.skill-per {
  background-color: #AACBDC;
  height: 8px;
  border-radius: 10px;
}

.crea {
  font-family: Arial black;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #ffffff;
}

.creablock {
  background-color: #4C6C76;
  margin: 16px;
  padding: 16px;
  border-radius: 10px;
}

.gridcomp {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

@media screen and (max-width: 600px) {
  .gridcomp {
    grid-template-columns: repeat(1, 1fr);
  }
}

.flexicon {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 8px;
}

.icone {
  width: 60px;
}

.flexpourcent {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-family: arial;
}

.txt {
  font-family: Arial, Helvetica, sans-serif;
}

.ml {
  margin-bottom: 16px;
}